.page--container {
  width: 280px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.page--container h1 {
  text-align: center;
  text-transform: uppercase;
}

.board {
  position: relative;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

#game--board {
  width: 290px;
  height: auto;
  position: absolute;
  bottom: -16px;
  left: -8px;
  z-index: 20;
}

#game--board path {
  fill: #348F50;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#56B4D3), to(#348F50));
  background: linear-gradient(to right, #56B4D3, #348F50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  background: transparent;
  margin: -1px;
}

.disc, .discs {
  position: relative;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #B11515;
}

.disc::after, .discs::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #D02727 81.77%, #980606 100%);
  margin: 10%;
}

.discs {
  position: absolute;
}

.discs::after {
  left: 2.5%;
}

.disc.player-two, .discs.player-two {
  background: #1815B1;
}

.disc.player-two::after, .discs.player-two::after {
  background: radial-gradient(50% 50% at 50% 50%, #322EE3 81.77%, #09068E 100%);
}

.btn {
  width: 100px;
  height: 50px;
  background-image: #FC5C7D;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -webkit-gradient(linear, left top, right top, from(#6A82FB), to(#FC5C7D));
  background-image: linear-gradient(to right, #6A82FB, #FC5C7D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 3px 3px 10px -5px black;
          box-shadow: 3px 3px 10px -5px black;
}

.btn:hover {
  background-image: #FC5C7D;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6A82FB), to(#FC5C7D));
  background-image: linear-gradient(to top, #6A82FB, #FC5C7D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.btn--holder {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.arrow {
  height: 30px;
  width: 40px;
  padding-top: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.arrow path {
  fill: #67e067;
}

.arrow:hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.arrow:hover path {
  fill: #cccc37;
}

.arrow--holder {
  height: 50px;
  width: 40px;
}

#player--holder__p1, #player--holder__p2 {
  padding: 1rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#player--holder__p1.active .disc, #player--holder__p2.active .disc {
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

#player--holder__p1.active .disc::before, #player--holder__p2.active .disc::before {
  content: "";
  margin: -20px;
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #d6d424;
  -webkit-box-shadow: 55px 10px 0px -3px #e6c719,  40px 57px 0px -1px #e9e628,  -9px 12px 0px -4px #c4a82a,  32px -9px 0px -4px #d6a624,  5px 44px 0px -3px #d6d424,  59px 42px 0px -4px #D6D416;
          box-shadow: 55px 10px 0px -3px #e6c719,  40px 57px 0px -1px #e9e628,  -9px 12px 0px -4px #c4a82a,  32px -9px 0px -4px #d6a624,  5px 44px 0px -3px #d6d424,  59px 42px 0px -4px #D6D416;
}

.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.players h3 {
  text-align: center;
}

.discs.player-one.dropped, .discs.player-two.dropped {
  -webkit-animation: dropping var(--s) ease-in;
          animation: dropping var(--s) ease-in;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 10px yellow;
            box-shadow: 0 0 10px 10px yellow;
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-box-shadow: 0 0 10px 10px yellow;
            box-shadow: 0 0 10px 10px yellow;
  }
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@-webkit-keyframes dropping {
  0% {
    -webkit-transform: translateY(var(--t));
            transform: translateY(var(--t));
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropping {
  0% {
    -webkit-transform: translateY(var(--t));
            transform: translateY(var(--t));
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.banner {
  position: absolute;
  z-index: 40;
  top: 100px;
  left: -5%;
  width: 110%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  color: white;
  text-shadow: 2px 2px 5px black;
  opacity: 0.75;
}

.banner.visible {
  visibility: visible;
}

.banner h3 {
  text-align: center;
  font-size: 1rem;
  display: block;
  text-transform: uppercase;
}

.win {
  background: #FDFC47;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#24FE41), to(#FDFC47));
  background: linear-gradient(to right, #24FE41, #FDFC47);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lose {
  background: #403B4A;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#E7E9BB), to(#403B4A));
  background: linear-gradient(to right, #E7E9BB, #403B4A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.draw {
  background: #FF416C;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#FF4B2B), to(#FF416C));
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#start-menu {
  position: absolute;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 90%;
  background: #ebebeb;
  -webkit-box-shadow: 2px 2px 10px -5px black;
          box-shadow: 2px 2px 10px -5px black;
  border-radius: 5%;
  z-index: 50;
}

#start-menu p {
  padding: 1rem;
  text-align: center;
}

#start-menu input {
  width: 100px;
  height: 2.5em;
  border: none;
  text-align: center;
  margin: 0.5rem;
  -webkit-box-shadow: inset 0px 0px 10px -5px black;
          box-shadow: inset 0px 0px 10px -5px black;
}

#start-menu input::-webkit-input-placeholder {
  text-align: center;
  font-size: 0.75em;
}

#start-menu input:-ms-input-placeholder {
  text-align: center;
  font-size: 0.75em;
}

#start-menu input::-ms-input-placeholder {
  text-align: center;
  font-size: 0.75em;
}

#start-menu input::placeholder {
  text-align: center;
  font-size: 0.75em;
}

#start-menu input::-webkit-outer-spin-button, #start-menu input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#start-menu input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 768px) {
  .page--container {
    width: 700px;
  }
  .board {
    width: 756px;
  }
  #game--board {
    width: auto;
    bottom: -50px;
    left: -6px;
  }
  .cell {
    width: 100px;
    height: 100px;
  }
  .disc, .discs {
    height: 90px;
    width: 90px;
  }
  .arrows {
    height: 120px;
  }
  .arrow {
    height: inherit;
    width: inherit;
  }
  .arrow--holder {
    width: 100px;
    height: 70px;
  }
  .banner {
    top: 300px;
  }
  .banner h3 {
    font-size: 2rem;
  }
  #start-menu {
    padding: 1rem;
  }
  #start-menu p {
    font-size: 2rem;
  }
  #start-menu .btn {
    width: 300px;
    height: 100px;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #start-menu input {
    width: 300px;
    height: 70px;
    font-size: 2rem;
    -webkit-box-shadow: inset 0px 0px 15px -5px black;
            box-shadow: inset 0px 0px 15px -5px black;
  }
  #start-menu input::-webkit-input-placeholder {
    font-size: 1.5rem;
  }
  #start-menu input:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  #start-menu input::-ms-input-placeholder {
    font-size: 1.5rem;
  }
  #start-menu input::placeholder {
    font-size: 1.5rem;
  }
  #player--holder__p1.active .disc::before, #player--holder__p2.active .disc::before {
    -webkit-box-shadow: 120px 120px 0px 0px #e6c719,  133px 48px 0px 0px #e9e628,  -9px 71px 0px -4px #c4a82a,  42px -15px 0px 9px #d6a624,  38px 107px 0px -3px #d6d424, 107px 97px 0px -3px #d6d424;
            box-shadow: 120px 120px 0px 0px #e6c719,  133px 48px 0px 0px #e9e628,  -9px 71px 0px -4px #c4a82a,  42px -15px 0px 9px #d6a624,  38px 107px 0px -3px #d6d424, 107px 97px 0px -3px #d6d424;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  font-family: "Open Sans Condensed", sans-serif;
}
/*# sourceMappingURL=main.css.map */