.banner {
    position:absolute;
    z-index: 40;
    top: 100px;
    left:-5%;
    width: 110%;
    height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    color: white;
    text-shadow: 2px 2px 5px black;
    opacity: 0.75;

    &.visible {
        visibility: visible;
    }
    
    h3 {
      text-align: center;
      font-size: 1rem;
      display: block;
      text-transform: uppercase;
    }
  }
  
  .win {
    background: #FDFC47;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  
.lose {
  background: #403B4A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  
  .player-one--welcome {
    background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .player-two--welcome {
    background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }